{:kotoba.app/id "cloud.itonami.isic-3020", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiakqwd7dfqag6ydrwzj5byn2atlm5ddre7vlz4udrws42c4n3kdou", :kotoba.app/embed-url "ipfs://bafkreiakqwd7dfqag6ydrwzj5byn2atlm5ddre7vlz4udrws42c4n3kdou", :published {:archive "https://kotobase.net/ipfs/bafkreiakqwd7dfqag6ydrwzj5byn2atlm5ddre7vlz4udrws42c4n3kdou", :size 73046, :put-status 201, :get-status 200, :at "2026-08-15T14:01:07.266Z"}}
